@import "foundation";
@import url(https://fonts.googleapis.com/css?family=Graduate);

body {
  background: #E5E4E2; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.lefthand {
  max-width: 300px;
  margin: 0;
  display: inline-block;
  vertical-align: left;
}
.name span a{
  text-align: center;

}


// p {
//   font-family: 'Graduate';
// }

.top-bar {
  background-color: #3B00D9;
  font-family: 'Graduate'
}

.top-bar-section li:not(.has-form) a:not(.button){
  background-color: #3B00D9;
}

.top-bar-section ul li > a {
  font-family: 'Graduate';
  font-size: 15px;
}

.container {
  width: 400px;
  margin-right: 80px;
  margin-top: 40px;
  display: inline-block;
  font-family: 'IM Fell Double Pica', serif;
  float: right;

}

.bookTitles {
  text-decoration: none;
}

a, h3, h2 {
  color: #3B00D9;
}

h2, h3 {
  font-family: 'Graduate';
}

.submitForm {
  font-family: 'IM Fell Double Pica', serif;

}

button, .button {
  font-family: 'Graduate';
  // font-weight: bold;
  background-color: #3B00D9;
  border: 1px solid #9F75EE;
  border-radius: 90px;
  width: 75%;
  a{
    color: white;
  }
  &:hover {
    background: #4D52FF;
  }
}

// .singleViewButton a{
//   color: white;
// }

a.bookTitles.ng-binding {
  font-size: 20px;
  color: #737373;
  &:hover {
    color: #3200E2;
  }
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-left: 425px;
  // text-align: center;
}

ul, menu, dir {
  list-style-type: none;
}

img.logo{
  margin-top: 45px;
}

input.formNotes {
  height: 200px;

}








