<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class='name'>
          <p class="titleBar"><a href="#/">AnguBook</a></p>
        </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
          <li><a class="rightNav" href="#/">Home</a></li>
          <li><a href="#/add">Add</a></li>
      </ul>
    </section>
</nav>
<section class="left-hand">
  <img class="logo" src="../Images/BookLogo.png" alt="book">
  <div class="container" ui-view></div>
</section>
<section ></section>
